nav>ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    margin: 20px;
}

li {
    margin: 10px 12px;
}

.cancelbtn {
    font-size: 2.3rem;
    font-size: 12px;
}

li>a {
    text-decoration: none;
    color: rgb(235, 194, 11);
    font-family: Verdana, Geneva, Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

.heading {
    display: flex;
    justify-content: center;
}

.heading>h1 {
    color: rgb(235, 79, 18);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section>h2 {
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}